.post {
    width: 85%;
    margin: 0 auto;
}

.post__title {
    text-align: center;
    width: 70%;
    margin: 0 auto;
    padding: 80px 0 60px;
}

.post__date {
    text-align: right;
    margin: 26px 0 60px;
    font-size: 25px;
    font-weight: 400;
    opacity: 0.5;
}
